<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matthew Ailes">
    <meta name="description" content="A site for some ramblings, showing off code, and anything else I can think of.">
    <meta name="keywords" content="HTML5, CSS3, JavaScript, Node.js, MySQL, C/C++, Music, Video Games, Guitar, blog">
    <title>Matthew Ailes -- Programmer for Hire</title>
    <!-- Stylesheets and scripts -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Code+Pro:400,700|Playfair+Display+SC:400,700|Righteous' rel='stylesheet' type='text/css'>
    <!-- My stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{! Google ReCaptcha stuff}}
    {{#if contact}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {{/if}}
  </head>

  <body>
    <div class="container">
      <!-- header row -->
      <div class="row header">
        <div class="media">
          <div class="media-left media-middle">
            <img src="/images/me.jpg" class="profile media-object" alt="my face">
          </div>
          <div class="media-body">
            <h3 class="media-heading stroke">MATTHEW AILES -- PROGRAMMER FOR HIRE</h3>
            <h5 class="stroke">A site for some ramblings, showing off code, and anything else I can think of.</h5>
            {{! little loop for my social links }}
            {{#each social}}
              <a href="{{this.link}}" target="_blank"><img src="{{this.source}}" alt="{{this.name}}" class="social"></a>
            {{/each}}
          </div>
        </div>
      </div>
      <!-- navbar row -->
      <div class="row">
        <nav class="navbar navbar-inverse navbar-sm">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li{{{home}}}><a href="/">Home</a></li>
              <li class="dropdown{{{portfolio}}}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/portfolio">My Portfolio</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="https://www.github.com/vidarc" target="_blank">My Github</a></li>
                </ul>
              </li>
              <li{{{resume}}}><a href="/resume">Resume</a></li>
              <li{{{about}}}><a href="/about">About</a></li>
              <li{{{contact}}}><a href="/contact">Contact</a></li>
            </ul>
            <!-- Search form -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main section row -->
      <div class="row">
        <div class="col-sm-9">
          <!-- starting point for handlebars -->
          {{{body}}}
        </div>
        <!-- sidebar (address, archives, maybe ads?) -->
        <div class="col-sm-2 col-sm-offset-1">
          <div class="row">
            <form role="search">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control search" placeholder="Search (but it doesn't work)">
                  <span class="input-group-btn">
                    <button class="btn btn-default search" type="submit"><span class="glyphicon glyphicon-search"></span> Go!</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="about">
              <h4 class="text-center">About</h4>
              <p class="text-justify">Just a guy looking to program for money. I also enjoy things such as playing guitar, watching soccer (COYS!), listening to music (I enjoy almost everything), and really anything nerd related. I hope you enjoy a look into my head. Enjoy your stay.</p>
            </div>
            <div class="archives">
              <h3>Archives</h3>
              <ul>
                <li>Test list</li>
                <li>Just placeholders</li>
                <li>Will change later</li>
              </ul>
            </div>
            <div class="ads">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Guitar Funding -->
              <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6270505157198229" data-ad-slot="6859602199" data-ad-format="auto"></ins>
              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
          </div>
        </div>
      </div>
      <!-- footer, put some contact type stuff down here -->
      <div class="row">
        <footer class="blog-footer">
          <p>Built by <a href="email:mattailes@gmail.com">Matthew Ailes</a> on the <a href="https://www.mongodb.org/" alt="mongodb">M</a><a href="http://expressjs.com/" alt="express">E</a><a href="https://angularjs.org/" alt="angular">A</a><a href="http://nodejs.org" alt="nodejs">N</a> stack, <a href="http://getbootstrap.com" alt="bootstrap">Bootstrap</a>, and <a href="http://handlebarsjs.com" alt="handlebars">handlebars</a>.</p>
          <p>Social media icons are from <a href="https://www.iconfinder.com/iconsets/social-aquicons">Lanan Illustration</a>.</p>
          <p>All content is possibly copyrighted 2015 - {{year}} &copy;</p>
        </footer>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  </body>

</html>
