<div class="row">
  <h3 class="text-center">My Portfolio</h3>
  <div class="text-center">
    {{#each sections}}
      <a href="#{{{this.name}}}"><span class="label label-info">{{this.name}}</span></a>
    {{/each}}
  </div>
  <hr>
  <!-- Start template for Projects -->
  {{#each sections}}
    <h4 id="{{{this.name}}}">{{this.name}}</h4>
    <div class="row">
      {{#each this.projects}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="{{{this.link}}}"><img src="{{{this.image}}}" alt="{{{this.name}}}"></a>
            <div class="caption">
              <h4><a href="{{{this.link}}}">{{this.name}}</a></h4>
              <p>{{{this.description}}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{#unless @last}}
      <hr>
    {{/unless}}
  {{/each}}
</div>
